:root {
  --clr1: rgb(255, 179, 186);
  --clr2: rgb(255, 223, 186);
  --clr3: rgb(255, 255, 186);
  --clr4: rgb(186, 255, 201);
  --clr5: rgb(186, 225, 255);
}

body {
  background: radial-gradient(#ffff, #eeee, #e5e5e5);
}

.card-img-top {
  height: 20rem;
}

.card.text-center {
  width: 20rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;

  border: 3px solid var(--clr4);
  border-radius: 10px;
  object-fit: contain;
}

.card-text.text-secondary {
  color: var(--clr1) !important;
  text-shadow: 2px 2px var(--clr4);
}
.btn.btn-outline-success {
  background-color: var(--clr1) !important;
  border-color: var(--clr2) !important;
  color: var(--clr4);
  font-size: 12px;
  border: 2px solid;
  border-radius: 10px;
  text-shadow: var(--clr3) !important;
  margin: 3px;
}

.btn.btn-outline-success:hover {
  border: dotted var(--clr5);
  color: var(--clr3);
}

.gridArea {
  margin: 0px 5%;
  display: grid;
  width: 2000px;
}
.gridArea.container-fluid.justify-content-center {
  background-color: var(--clr4);
  text-shadow: var(--clr5) !important;
}
h2 {
  color: var(--clr5);
  font-family: Rubik Maze;
  text-shadow: 2px 2px var(--clr1);
}
.skills {
  list-style: none;
  padding: 0;
  color: var(--clr1);
  text-shadow: 2px 2px var(--clr5);
}

.btnRow {
  justify-content: center;
  display: flex;
}
