/* Navigation */

.navbar {
  background-color: var(--clr1) !important;
}

.nav-item {
  padding-left: 50px;
  padding-right: 50px;
}

.nav-link {
  text-decoration: none;
  color: var(--clr3);
  border-bottom: 4px solid var(--clr2);
  padding: 3px;
}

.nav-link:hover {
  border-bottom-color: var(--clr3);
}
.navbar-nav.justify-content-center {
  flex-direction: row !important;
}
