.footer {
  background-color: var(--clr4) !important;
  color: var(--clr3);
  position: relative;
  padding: 0;
}

.footerLinks {
  margin: 0;
  list-style: none;
  align-items: center;
  width: 100%;
  padding: 0;
  color: var(--clr4);
  background-color: var(--clr3) !important;
}

.footerLinks:hover {
  color: var(--clr5);
}
