.footer {
  background-color: var(--clr4) !important;
  color: var(--clr3);
  position: relative;
}

.footerLinks {
  margin: 0;
  list-style: none;
  align-items: center;
  width: 100%;
  padding: 0;
  color: var(--clr2);
  background-color: var(--clr3) !important;
}

.footerList {
  text-decoration: none;
}

.footerLinks:hover {
  color: var(--clr5);
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding: 0;
}

.container-fluid.justify-content-center {
  padding: 0;
}
